
html { height: 100%; width: 100%; }
body {
    background: url('../img/bg-1-2.jpg');
    background-position: left;
    background-size: contain;
    font-size: 16px;
    color: #080808;
}

#contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#splash {
    background: white;
    box-shadow: 0 .1em .2em rgba(0,0,0,.4);
    max-width: 70%;
    margin: 0 auto;

    padding: 1.5em;
    text-align: center;
    border-top: 6px solid #E8AC42;
}


#logo { width: 20em;}
header, footer {

}
