html {
  height: 100%;
  width: 100%; }

body {
  background: #000;
  background-position: left;
  background-size: contain;
  font-size: 16px;
  color: #FFF; }

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif; }

h1, h2 {
  text-transform: uppercase;
  text-shadow: 0 0 0.3em rgba(250, 250, 250, 0.7);
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

#contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
  #contain > * {
    margin: 1.5em 0; }

#splash {
  max-width: 30em;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  #splash div {
    color: #FFF; }

#vid-bg {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: .6;
  box-shadow: inset 0 2em 2em black; }

#reg-button {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-decoration: none;
  text-decoration: none;
  font-size: 1.3em;
  background: #D8D8D8;
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(140deg, #2597E1 0%, #147CD5 100%); }
  #reg-button:hover {
    background-image: linear-gradient(140deg, #2597E1 0%, #147CD5 50%);
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.4); }

small {
  display: block;
  margin-top: 2em;
  opacity: .8; }

.gray {
  opacity: .7;
  text-transform: initial;
  font-weight: normal; }

@keyframes glow {
  0% {
    text-shadow: 0 0 0.3em rgba(250, 250, 250, 0.9); }
  50% {
    text-shadow: 0 0 0.1em rgba(250, 250, 250, 0.7); }
  100% {
    text-shadow: 0 0 0.3em rgba(250, 250, 250, 0.9); } }
@keyframes img-blur {
  0% {
    -webkit-filter: blur(2em);
    filter: blur(2em);
    opacity: 1; }
  50% {
    -webkit-filter: blur(1em);
    filter: blur(1em);
    opacity: .7; }
  100% {
    -webkit-filter: blur(2em);
    filter: blur(2em);
    opacity: 1; } }
